@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
#secone{
    overflow: hidden;
}

#Navbar{
    background-color: #0984e3 !important;
}
.navbar-brand{
    font-size: 25px !important;
}
.nav-link:hover{
    color: white !important;
}
.menu_active{
    font-weight: bold !important;
    border-bottom: 1px solid white !important;
}
.hed{
    margin-left: 50px;
    margin-top: 10px;
    color: black;
    opacity: 70%;
    
}
.sec{
    background-attachment: fixed;
}



#vdo{
      position: absolute;
      width: 100%;
      height: 100%;
     
}
.heding{
    font-size: 70px;
    font-weight: bolder;
    color: white;
   
}
#serv{
    background-color: #0984e3;
    border-radius: 15px;
}

#p1{
    border: 1px solid white;
    border-radius: 10px;
}

/* Home section four css start */

.sec4h1{
    letter-spacing: 5px;
    font-size: 70px;
    color: #0984e3;
}
#secfourimg{
    width: 100%;
    height: 100%;
}

/* Home section four css end */

/* Home section six css start  */

#secsix{
    
    background-color: #0984e3;
    margin-bottom: 50px;
    border-radius: 8px;
}

/* Home section seven css start */
#secsevenhover{
    transition: 0.5s;
    color: #0984e3;
    
}
#secsevenhover:hover{
    background-color: #0984e3;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    
}
.mainsecseven{
    background-color: #e2e6eb;
    border-radius: 20px;
    margin-bottom: 80px;
}
.secsevenhediing{
    color: #0984e3;
    font-weight: lighter;
    text-shadow: black;
}


/* Home section seven css end */

/* Home section ait css start */

.mainsecait{
    background-color: #0984e3;
}

/* Home section ait css start */

/* Home section nine start */

#secnineimg{
    position: relative;
}
#secninecontainer{
    position: absolute;
}
.sec-nineh3{
    color: #0984e3;
}
.sec-ninep{
    color: black;
    opacity: 75%;
}
#sec-nineimg{
    width: 100%;
    height: 85%;
}
/* Home section nine end */

/* Home section ten css start */

#sec-tencontainer{
    background-color: #2d3436;
    color: white;
}
/* Home section ten css end */

/* how we work sectuion first css start */



/* how we work sectuion first css start */

.seconeh2{
    color: #0984e3;
}
/* how we work sectuion first css start */

/* Customer page css start */

/* section 2 start */

.client{
    background-color: white;
}

#Card{
    background-color: #0984e3;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

/* section 2 end */

/* section 3 start */

#sec3{
    background-color: #0984e3;
}

/* section 3 end */

/* Customer page css end */

/*blog page css start*/
.img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
    
}


.img-div{
   
    overflow: hidden;
   
}
.img-top:hover{
    transform: scale(1.8);
} 
/*blog page css end*/
/*Review page css start*/
.Review-top-head{
    height: 400PX;
    background-color: #0984e3;
}
.gg{
    margin: 0;
    padding: 0;
}
/*Review page css end*/
/*about us page css start*/
.logo-about{
    width:300px;
    height: auto;
}
.gr{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(70, 54, 143), black);
    color: blanchedalmond;
    opacity: 0.9;
}
.fs{
    font-family: Cursive;
}